@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 700;
}
  
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
}
  
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
}
  
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
}

body {
    margin: 0;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0.016px;
    color: #464646;
  
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden{
    position: absolute;

    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.content {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: relative;

    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 185px;
    margin-top: 40px;  
    padding: 0 60px;
  
    background-color: #f7e296;
}

.catalog-page .header {
    margin-bottom: 38px;
}
  
.logo-header {
    position: relative;
    top: -18px;
}
  
.functional {
    position: relative;
    top: -2px;

    display: -webkit-box;

    display: -ms-flexbox;
  
    display: flex;
    margin-bottom: 15px; 
}
  
.functional .search {
    position: relative;  
  
    display: -webkit-box;   
    
    display: -ms-flexbox;   
    
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
        
    width: 500px;
}
  
.user-controls {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; 
    margin: 0;
    padding: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);

    list-style: none;
}

.authorization,
.operations {
    list-style: none;
}
  
.authorization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
    width: 220px;
    height: auto;
    margin: 0;
}

.header-user {
    width: 220px;
}

.current-user {
    letter-spacing: 0.32px;
}

.user {
    position: relative;
}

.user::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 1px;
    width: 13px;
    height: 12px;

    background-image: url("../img/shared/user.svg");  
}

.header-logout {
    padding-left: 0px;
  
    opacity: 0.3;
}
  
.operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 240px;
    margin: 0;
}

.header-operations {
    width: 280px;
}
  
.operations li:last-of-type {
    margin-left: 36px;
}

.authorization a,
.operations a {
    position: relative;

    padding-left: 28px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: #000000;
}

.login::before {
    content: url("../img/shared/user.svg");
         
    position: absolute;
    top: -6px;
    left: 1px;
}

.compare::before {
    content: url("../img/shared/compare.svg");
    
    position: absolute;
    top: -6px;
    left: 8px;
}
  
.cart::before {
    content: url("../img/shared/cart.svg");
 
    position: absolute;
    top: -6px;
    left: 6px;
}

.authorization a:hover,
.authorization a:focus {
    opacity: 0.6;
}

.operations a:hover,
.operations a:focus {
    opacity: 0.6;
}

.authorization a:active,
.operations a:active {
    opacity: 0.3;
}

.main-navigation {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.main-navigation a {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
  
.main-navigation a:hover,
.main-navigation a:focus {
    color: rgba(0, 0, 0, 0.6);
}
  
.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-navigation .selected-item:hover {
    color: #000000;
}

.menu-nav {
    position: relative;
  
    margin-right: auto;
}

.main-menu > li:nth-of-type(1n) {
    margin-left: 1px;
}

.main-menu > li:nth-of-type(2n) {
    margin-left: 4px;
}

.main-menu > li:nth-of-type(3n) {
    margin-left: 28px;
}

.main-menu > li:nth-of-type(4n) {
    margin-left: 97px;
}

.main-menu > li:nth-of-type(5n) {
    margin-left: 4px;
}



.catalog-link {
    position: relative;
  
    padding-right: 30px;
}

.catalog-link::after {
    content: url("../img/shared/plus.svg");

    position: absolute;
    top: 0;
    right: 4px;
    
    opacity: 0.3;
}

.catalog-background {
    position: absolute;
    top: 30px;
    left: -60px;
    z-index: 2;
    
    display: none;
    width: 1038px;  
    padding: 0 61px;
    padding-top: 16px;
    padding-bottom: 3px;

    background-color: #f7e296;
}

.sub-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    height: 142px;
}

.menu-nav:hover > .catalog-background {
    display: block;
}

.menu-nav:hover .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item {
    min-width: 138px;
    min-height: 36px;
    margin-right: 62px;
}

.quadrocopters {
    margin-left: 15px;
    min-height: 142px;
}

.catalog-item a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.016px;
}

.company-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
  
.about-us {
    width: 475px;
}
  
.contacts-details {
    width: 560px;
}
  
.about-us-headline,
.contacts-headline {
    position: relative;

    margin: 0;
    margin-bottom: 44px;

    font-size: 47px;
    line-height: 48px;
    color: #000000;
}

.about-us-headline::before,
.contacts-headline::before {
    content: "";

    position: absolute;
    top: -52px;
    left: 1px;
  
    width: 80px;
    height: 7px;

    background-color: #000000;
} 

.contacts-headline {
letter-spacing: 0.5px;
margin-left: -1.1px;
}

.about-us p,
.contacts-details p {
    margin: 0;
    margin-bottom: 31px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.contacts-details p {
    margin-bottom: 40px;
}
  
p.about-delivery {
    margin-bottom: 60px;
  
    letter-spacing: 0;
}

.logistics {
    margin: 0;
    margin-bottom: 53px;
    padding: 0;
    padding-top: 5px;
  

    list-style: none;
}

.logistics li {
    position: relative;

    padding-left: 37px;

    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0;
    color: #000000;
}

.logistics li::before {
    content: "";
  
    position: absolute;
    top: 16px;
    left: 2px;
  
    width: 4px;
    height: 4px;
  
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0.1;
}
  
.contacts-map {
    margin-bottom: 58px;
}
  
.logo svg {
    width: 165px;
    height: 35px;
}

.footer-logo svg {
    fill: #ffc600;
}

.catalog-page .logo:hover,
.catalog-page .logo:focus {
    opacity: 0.6;
}

.catalog-page .logo:active {
    opacity: 0.3;
}

.catalog-page .header-logout {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}

.catalog-page .header-logout:hover,
.catalog-page .header-logout:focus {
    color: rgba(0, 0, 0, 0.3);
}

.header .search-field {
    position: relative;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;

    top: -9px;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
}
  
.header .search-field:focus {
    border-bottom: 2px solid #000000;
}

.header input[type="search"]::-webkit-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
}
  
.header input[type="search"]:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
  
.header input[type="search"]:focus::-webkit-input-placeholder {
    color: #000000;
}
  
.header input[type="search"]::-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
}
  
.header input[type="search"]:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
  
.header input[type="search"]:focus::-moz-placeholder {
    color: #000000;
}
  
.header input[type="search"]:-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
}
  
.header input[type="search"]:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
  
.header input[type="search"]:focus:-ms-input-placeholder {
    color: #000000;
}
  
.header input[type="search"]:-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
}
  
.header input[type="search"]:hover:-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
  
.header input[type="search"]:focus:-moz-placeholder {
    color: #000000;
}
  
.functional .search-field {
    min-width: 356px;
    height: 48px;
    padding-left: 40px;
    

    background-image: url("../img/shared/search.svg");
    background-position: 4px 17px;
    background-repeat: no-repeat;
}
  
.header .search-button {
    position: relative;
    top: -10px;
  
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 85px;
    min-height: 49px;
    padding: 10px 0;
    padding-left: 19px;
    padding-right: 21px;
    -ms-flex-item-align: start;
        align-self: flex-start;

    font-family: "Open Sans", "Arial", sans-serif;
    text-align: center;
    font-weight: 300;
    vertical-align: middle;
    color: #000000;
  
    background-color: transparent;
    border: 2px solid #000000;
    opacity: 0;

    cursor: pointer;
}
  
.search-field:focus + .search-button {
    opacity: 1;
}
  
.header .search-button:hover,
.header .search-button:focus {
    color: #ffffff;
    background-color: #000000;
    opacity: 1;
}
  
.header .search-button:active {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 81px;
    min-height: 323px;
  
    background-color: #464646;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 66px;
    margin-bottom: 19px;
}
  
.footer-logo {
    margin-right: auto;
}
  
.footer-top-right {
    position: relative;
    top: -2px;
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 540px;
}
  
.footer-authorization,
.footer-operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.footer-authorization {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    width: 225px;
    margin: 0;
    padding: 0;
}

.footer-enter {
    width: 285px;
}

.footer-authorization a,
.footer-operations a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-controls {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; 
    margin: 0;
    padding: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);

    list-style: none;
}

.footer-user-controls .footer-logout {
    right: 0;
  
    margin-left: 18px;
    padding-right: 45px;
    padding-left: 0;
}
  
.footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
  
.footer-authorization .footer-login {
    position: relative;
    right: 0;
  
    margin-left: 0;
}
  
.footer-link .footer-description {
    margin: 0;
    padding-right: 0;
}

.footer-icon {
    fill: #ffc600;
}

.icon-login {
    width: 26px;
}
  
.icon-compare {
    width: 21px;
}
  
.icon-cart {
    width: 23px;
}
  
.footer-operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 212px;
}
  
.footer-operations .footer-cart {
    position: relative;
    right: -2px;
}
  
.footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 58px;
}
  
.address {
    position: relative;
  
    width: 360px;
    margin: 0;
}

.address::after {
    content: "";
  
    position: absolute;
    top: 107px;
    left: 1px;
  
    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 440px;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    padding-right: 5px;
    padding-left: 7px;
}
  
.phone-number {
    position: relative;
    left: 2px;
  
    margin: 0;
    margin-left: auto;
}
  
.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-pack: end;  
        -ms-flex-pack: end;  
            justify-content: flex-end;
}
  
.social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 660px;
    margin-left: 500px;
}
  
.footer-authorization a:hover,
.footer-authorization a:focus {
    color: #ffffff;
}

.footer-operations a:hover,
.footer-operations a:focus {
    color: #ffffff;
}
  
.footer-authorization a:hover svg,
.footer-authorization a:focus svg {
    opacity: 0.6;
}

.footer-operations a:hover svg,
.footer-operations a:focus svg {
    opacity: 0.6;
}
  
.footer-authorization a:active,
.footer-operations a:active {
    color: rgba(255, 255, 255, 0.3);
}
  
.footer-authorization a:active svg,
.footer-operations a:active svg {
    opacity: 0.3;
}
  
.catalog-page .header-logout:active {
    color: #000000;
}
  
.catalog-page .footer-logout {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
}
  
.catalog-page .footer-logout:hover,
.catalog-page .footer-logout:focus {
    color: #ffffff;
}
  
.catalog-page .footer-logout:active {
    color: rgba(255, 255, 255, 0.7);
}
  
.address {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    color: #ffffff;
}
  
.footer-navigation {  
    list-style: none;
}
  
.footer-navigation a {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #ffffff;  
}
  
.footer-navigation a:hover,
.footer-navigation a:focus {
    color: rgba(255, 255, 255, 0.6);
}
  
.footer-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}
  
.phone-number,
.call {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    color: #ffffff;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-top: 2px;
    margin-right: 440px;
    padding: 0;
    padding: 0 10px;
    width: 160px;
  
    list-style: none;
}
  
.footer-social a {
    color: rgba(181, 181, 181, 0.3);
}
  
.footer-social a:hover,
.footer-social a:focus {
    color: rgba(181, 181, 181, 0.6);
}
  
.footer-social a:active {
    color: rgba(181, 181, 181, 0.1);
}
  
.social-icon {
    opacity: 0.3;
}
  
.social-icon:hover,
.social-icon:focus {
    opacity: 0.6;
}
  
.social-icon:active {
    opacity: 0.1;
}

.footer-copyright {
    width: 27px;
    padding-left: 33px;
}
  
.footer-copyright a {
    color: #f4be04;
}
  
.copyright-icon {
    position: relative;
    bottom: 15px;
  
    fill: #f4be04; 
}
  
.copyright-icon:hover,
.copyright-icon:focus {
    opacity: 0.6;
}
  
.copyright-icon:active {
    opacity: 0.3;
}
  
.footer-copyright a:hover,
.footer-copyright a:focus {
    color: rgba(244, 190, 4, 0.6);
}
  
.footer-copyright a:active {
    color: rgba(244, 190, 4, 0.3);
}

.button {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    padding: 8px 0;
    padding-left: 7px;  

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ffffff), color-stop(35%, #f0c52e), color-stop(65%, #f0c52e), color-stop(65%, #ffffff));

    background-image: -webkit-linear-gradient(top, #ffffff 35%, #f0c52e 35%, #f0c52e 65%, #ffffff 65%);
  
    background-image: -o-linear-gradient(top, #ffffff 35%, #f0c52e 35%, #f0c52e 65%, #ffffff 65%);
  
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #ffffff));
  
    background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  
    background-image: -o-linear-gradient(top, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  
    background-image: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
    border: 0;
  
    cursor: pointer;
}
  
.button:hover,
.button:focus {
    background-image: none;
    background-color: #f0c52e;
}
  
.button:active {
    color: rgba(0, 0, 0, 0.3);
  
    background-image: none;
    background-color: #f0c52e;
}
  
.catalog-page .headline {
    margin: 0;
    margin-bottom: 25px;

    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.7px;
    color: #000000;
}
  
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-bottom: 46px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;
    margin-right: 38px;
}
  
.breadcrumbs li:last-of-type {
    margin-right: 0;
}
  
.breadcrumbs li::after {
    content: "";
  
    position: absolute;
    top: 9px;
    right: -20px;
  
    width: 4px;
    height: 7px;

    background-image: url("../img/catalog/nav-arrow.svg");
}
  
.breadcrumbs-current::after {
    display: none;
}
  
.breadcrumbs,
.breadcrumbs a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.3);
}
  
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}
  
.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}
  
.filters ul {
    list-style: none;
}
  
.filters fieldset {
    margin: 0;
    margin-left: 60px;
    margin-bottom: 43px;
    padding: 0;  
  
    border: 0;
}
  
.filters fieldset:last-of-type {
    margin-bottom: 31px;
}
  
.filters ul {
    margin: 0;
    padding: 0;
}

.filters legend {
    position: relative;

    margin-bottom: 18px;  

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #000000;
}
  
.filters legend::before {
    content: "";

    position: absolute;
    top: -12px;
    left: 0;

    width: 200px;
    height: 2px;

    background: #000000;
}
  
.filters li {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    color: #000000;
}

.filter label {
    position: relative;
  
    padding-left: 40px;
}
  
.filter-color label::before {
    content: "";
  
    position: absolute;
    top: -2px;
    left: 0;
  
    width: 23px;
    height: 23px;

    background-image: url("../img/catalog/checkbox-off.svg");
}
  
.filter-checkbox:checked + label::before {
    width: 27px;

    background-image: url("../img/catalog/checkbox-on.svg");
}
  
.filter-bluetooth label::before {
    content: "";
  
    position: absolute;
    top: -4px;
    left: -1px;
  
    width: 17px;
    height: 17px;
    
    border-radius: 50%;
    border: 4px solid #000000;
}

.filter-radio:checked + label::after {
    content: "";
    
    position: absolute;
    top: 4px;
    left: 7px;
  
    width: 9px;
    height: 9px;

    background: #000000;
    border-radius: 50%;
}

.filter-input + label {
    cursor: pointer;
}

.filter-input:hover + label,
.filter-input:focus + label {
    opacity: 0.6;
}

.filter-input:active + label {
    opacity: 1;
}

.filter-input:disabled + label {
    color: #a6a6a6;
  
    opacity: 0.25;
}

.filters-button {
    margin-left: 60px;
  
    width: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #eeeeee), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
    background-image: -o-linear-gradient(top, #eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
    background-image: linear-gradient(to bottom, #eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
}

.products {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 45px;
}

.goods {
    position: relative;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
  
.goods img {
    margin-bottom: 33px;
}

.goods h3 {
    margin: 0;

    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.goods p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
}

.mask {
    position: absolute;
    top: 170px;
    left: 80px;  

    text-align: center;  
  
    opacity: 0;
}

.goods:hover .mask,
.goods:focus .mask {
    opacity: 1;  
}

.goods::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 360px;
    height: 379px;

    background-color: #eeeeee;
    opacity: 0.7;
  
    cursor: pointer;
}

.goods:hover::before,
.goods:focus::before {
  display: block;
}

.mask .to-cart {
    position: relative;
    z-index: 0;
  
    width: 200px;
    min-height: 40px;
    padding-top: 9px;
    padding-right: 7px;

    background-color: transparent;
    background-image: none;
}
  
.mask .to-cart::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 0;
    z-index: -1;

    width: 200px;
    height: 8px;

    background-color: #f0c52e;
}

.new-product{
    position: relative;
}

.new-product .stick::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 26px;
  
    width: 56px;
    height: 55px;

    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0.1;
}

.new-product .stick::after {
    content: "NEW";
  
    position: absolute;
    top: 49px;
    right: 38px;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
  
    opacity: 0.2;
}

.mask .to-compare {
    display: block;
    min-height: 51px;
    
    padding-left: 32px; 
    padding-right: 28px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
  
    border: 0;
    background-color: transparent;
}

.mask .to-cart,
.mask .to-compare {
    cursor: pointer;
}

.mask .to-cart:hover,
.mask .to-cart:focus {
    background-color: #f0c52e;
}

.mask .to-compare:hover,
.mask .to-compare:focus {
    color: #000000;
}

.mask .to-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.stick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  
    -webkit-box-ordinal-group: 2;

        -ms-flex-order: 1;

            order: 1;
}

.stick h3 {
    width: 255px;

    letter-spacing: 0.35px;
}

.item-3 h3 {
    letter-spacing: 0.14px;
}

.stick p {
    margin: 0;
}
  
.catalog-page .footer {
    margin-top: 0;
}
  
.chain {
    width: 1040px;
    margin: 0 auto;
    padding: 0 80px;
}

.catalog-wrapper {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #eeeeee), color-stop(30%, white));
    background-image: -webkit-linear-gradient(left, #eeeeee 30%, white 30%);
    background-image: -o-linear-gradient(left, #eeeeee 30%, white 30%);
    background-image: linear-gradient(to right, #eeeeee 30%, white 30%);
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.filters {
    width: 328px;

    background-color: #eeeeee; 
}

.products {
    width: 760px;
    margin-bottom: 65px;
    padding-top: 69px;
}
  
.products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    margin: 0;
    padding: 0;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
}
  
.goods {
    width: 360px;
    min-height: 455px;
    margin-right: 40px;
}
  
.goods:nth-child(2n) {
    margin-right: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: none;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #ffffff;
 
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
    -webkit-animation: bounce 0.6s;
}

.wrong-input {
    animation: shake 0.6s;
    -webkit-animation: shake 0.6s;
}

.modal-feedback {
    margin: 0 auto;
    padding: 0 100px;
    width: 760px;
    min-height: 555px;
   
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.32px;
    color: #000000;

    background-color: #ffffff;
}

.feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
  
.feedback-form p {
    margin: 0;
    padding: 0;
}
  
.feedback-form input[type="text"] {
    margin-bottom: 35px;
}
  
.feedback-form textarea {
    margin-top: 6px;
    margin-bottom: 42px;

    opacity: 0.7;
}
  
.feedback-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 95px;
}
  
.feedback-label p {
    width: 360px;
}
  
.feedback-form-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 20px;
    width: 360px;
    min-height: 50px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #969696;
  
    background-color: rgba(242, 242, 242, 1);
    border: none;  
}
  
.feedback-form-input:hover {
    background-color: #f2f2f2;
}
  
.feedback-form-input:focus {
    background-color: transparent;
    outline: #f7e296 solid 3px;
}
  
.feedback-form .feedback-input:invalid {
    background-color: #f6dada;
    opacity: 0.5;
}

.feedback-text {
    resize: none;
}
  
.modal-feedback .feedback-text {
    width: 760px;
    min-height: 155px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: rgba(0, 0, 0);

    background-color: rgba(84, 84, 84, 0.1)
}
  
.modal-feedback .feedback-text:focus {
    color: #000000;
}
  
.modal-close {
    position: absolute;  
    top: 24px;
    right: 22px;

    width: 55px;
    height: 55px;

    border: none;  
    background-color: transparent;  
    background-image: url("../img/shared/modal-close.svg");
    opacity: 0.5;
  
    cursor: pointer;
}
  
.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}
  
.modal-close:active {
    opacity: 0.3;
}

.modal-map {
    width: 960px;
    height: 559px;
  
    overflow: hidden;
}
  
.modal-map img {
    width: 960px;
    height: 559px;
}
  
.modal-map iframe {
    position: relative;
    z-index: 2;
}
  
.modal-map a {
    z-index: 1;
}
  
.modal-map .modal-close  {
    z-index: 3;
}

.feedback-form input[type="text"]::-webkit-input-placeholder,
.feedback-form input[type="email"]::-webkit-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #464646;
  
    opacity: 0.4;
}
  
.feedback-form input[type="text"]::-moz-placeholder,
.feedback-form input[type="email"]::-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #464646;
  
    opacity: 0.4;
}
  
.feedback-form input[type="text"]::-ms-input-placeholder,
.feedback-form input[type="email"]::-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #464646;
  
    opacity: 0.4;
}
  
.feedback-form input[type="text"]:-moz-placeholder,
.feedback-form input[type="email"]:-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #464646;
  
    opacity: 0.4;
}

.feedback-input:hover {
    opacity: 0.6;
}

.feedback-text:hover {
    opacity: 0.4;
}

.visually-hidden-ie11:active {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    -webkit-clip-path: inset(100%);
  
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    position: relative;
  
    margin-bottom: 96px;
}

.features::before {
    content: "";

    position: absolute;
    top: 40px;
    right: 459px;
  
    width: 100px;
    height: 7px;

    background-color: #ffffff;
}
  
.features::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  
    width: 1160px;
    height: 115px;

    background-color: #f7e296;
}
  
.featured-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.slide li {
    position: relative;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;  
    
}
 
.content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 499px;
}

.content-list::before {
    position: absolute;
    top: -12px;
    right: 48px;
  
    display: block;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 179.2px;
    line-height: 179.2px;  
    letter-spacing: 0.016px;
    text-align: right;
    color: #ffffff;
}
 
.content-list.one::before{
    content: "01";
}

.content-list.two::before{
    content: "02";

    top: -10px;
    right: 25px;
}

.content-list.three::before{
    content: "03";

    top: -10px;
    right: 25px;
}
  
.slide-image {
    width: 560px;
  
    text-align: center;
}
  
.slide-image img {
    padding-top: 3px;
    padding-left: 7px;
}
  
.slide-image-quadrocopter img {
    padding-top: 68px;
}

.slide-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 560px;
}
  
.item-promo {
    z-index: 1;

    width: 510px;
    margin: 0;
    margin-top: 82px;
    margin-bottom: 19px;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.55px; 
    color: #000000;
}
  
.item-info {  
    width: 490px;
    margin: 0;
    margin-bottom: 43px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.16px; 
    color: #464646;
}

.more-info {
    width: 480px;
    margin-bottom: 50px;
}
  
.item-factors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.item-factors table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 80px;

    border-collapse: separate;
    width: 100%;
    border-spacing: 7px 11px;
}
  
.item-factors td {
    padding-left: 75px; 
    padding-bottom: 0px;
}

.variety td:first-of-type,
.item-description td:first-of-type {
    padding-left: 0px; 
}

.variety {
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.016px; 
    color: #000000;
}
  
.item-description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.016px;
    color: #464646;
}

.more-info {
    width: 220px;
}

.slider-controls label {
    display: inline-block;

    width: 12px;
    height: 12px;
    margin-right: 20px;

    cursor: pointer;
    vertical-align: top;

    border-radius: 50%;
    background-image: url("../img/index/slider-button-empty.svg");
    background-size: 100%;
}

.slider-controls {
    font-size: 0;

    position: absolute;
    top: 330px;

    z-index: 20;
    right: 63px;
    bottom: 43%;
}

.slide {
    display: none;
}

.product-1:checked ~ .features .slide1,
.product-2:checked ~ .features .slide2,
.product-3:checked ~ .features .slide3 {
    display: block;
}

.product-1:checked ~ .features label[for="btn-1"],
.product-2:checked ~ .features label[for="btn-2"],
.product-3:checked ~ .features label[for="btn-3"] {
    width: 12px;
    height: 12px;

    background-image: url("../img/index/slider-button.svg");
}

.categories {
    margin-bottom: 161px;
}
  
.categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: flex-start;
    margin: 0;
    padding: 0;

    list-style: none;
}
  
.category-link:hover .category-item,
.category-link:focus .category-item {
    background-color: #f0c52e;
}
  
.category-link:active .category-image {
    opacity: 0.3;
}
  
.category-link:active .category-description {
    opacity: 0.3;
}

.categories-list > li {
    width: 160px;
}
  
.categories-list .category-description {
    margin: 0;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.21px;
    color: #000000;
}
  
.category-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    min-height: 160px;
    height: 100px;
    margin-bottom: 33px;

    background-color: #f7e296;
}

.categories-list > li:nth-of-type(1n) {
    margin-right: 40px;
}

.categories-list > li:nth-of-type(2n) {
    margin-right: 40px;
}

.categories-list > li:nth-of-type(3n) {
    margin-right: 40px;
}

.categories-list > li:nth-of-type(4n) {
    margin-right: 40px;
}

.categories-list > li:nth-of-type(5n) {
    margin-right: 40px;
}

.service-section {
    position: relative;
}

.service-section::before {
    content: "";

    position: absolute;
    top: 20px;
    left: 0;
  
    width: 100%;
    height: 93.5%;
  
    background-color: #e5e5e5
}

.services {
    position: relative;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 308px;
    margin-bottom: 94px;  
    top: -5px;
}

.services::before {
    content: "";
    
    position: absolute;
    top: -76px;
    left: 278px;
    z-index: 2;
  
    width: 7px;
    height: 320px;

    background-color: #000000;
}
  
.button-list {
    width: 402px;

    padding: 0;
    margin: 0;
    margin-top: 5px;

    list-style: none;
}

.button-list > li {
    margin-bottom: 24px;
}

.button-list > li:first-of-type {
    width: 160px;
}
  
.button-list > li:last-of-type {
    margin: 0;
}
  
.services-list {
    width: 700px;
    
    margin: 0;
    margin-top: -2px;
    padding: 0;

    list-style: none;
}

.service-description {  
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 700px;
}
  
.service-description-case {
    width: 460px;
}
  
.service-image {
    width: 180px;
    padding-top: 12px;
}
  
.service-image .service-icon {
    display: block;
    margin: 0 auto;
}
  
.service-image .delivery-icon {
    margin-left: 36px;
}
  
.service-image .warranty-icon {
    position: relative;
    top: -24px;
  
    margin-left: 22px;
}
  
.service-image .credit-icon {
    position: relative;
    top: -24px;
  
    margin-left: 13px;
}

.service-text {
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.24px;
    color: #464646;
}
  
.service-description h3 {
    margin: 0;
    margin-bottom: 31px;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000000;
}

.service-button {
    position: relative;
  
    width: 160px;
    
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, transparent));

    background-image: -webkit-linear-gradient(top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  
    background-image: -o-linear-gradient(top, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  
    background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}
  
.service-button:active {
    color: #f7e184;
  
    background-color: #000000;
}
  
.service-button:active::before {
    content: "";

    position: absolute;
    top: 0;
    right: -118px;
  
    width: 118px;
    height: 40px;

    background-color: #000000;
}

.services-list-item {
    display: none;
}

.delivery-input:checked ~ .content .service1,
.warranty-input:checked ~ .content .service2,
.credit-input:checked ~ .content .service3 {
    display: block;
}

.delivery-input:checked ~ .content label[for="btn-delivery"],
.warranty-input:checked ~ .content label[for="btn-warranty"],
.credit-input:checked ~ .content label[for="btn-credit"] {
    color: #f7e184;

    background-color: #000000;
    background-image: none;
}

.delivery-input:checked ~ .content label[for="btn-delivery"]::before,
.warranty-input:checked ~ .content label[for="btn-warranty"]::before,
.credit-input:checked ~ .content label[for="btn-credit"]::before {
    content: "";

    position: absolute;
    top: 0;
    right: -118px;

    width: 118px;
    height: 40px;

    background-color: #000000;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-bottom: 135px;
    padding: 0;

    list-style: none;
}

.partners-list > li {
    width: 260px;
    margin-left: 2px;
}
  
.partner {
    position: relative;  
  
    display: block;
}

.dji:hover::before,
.dji:focus::before {
  content: url("../img/index/logo-dji.jpg");

  position: absolute;
  top: 0;
  left: 0;
}

.sp-gadgets:hover::before,
.sp-gadgets:focus::before {
  content: url("../img/index/logo-spgadjets.jpg");

  position: absolute;
  top: 0;
  left: 0; 
}

.gopro:hover::before,
.gopro:focus::before {
  content: url("../img/index/logo-gopro.jpg");

  position: absolute;
  top: 0;
  left: 0; 
}

.vive:hover::before,
.vive:focus::before {
  content: url("../img/index/logo-vive.jpg");

  position: absolute;
  top: 0;
  left: 0; 
}

.filter-left {  
    min-height: 70px;
  
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #dcdcdc), color-stop(30%, #ebebeb));
  
    background-image: -webkit-linear-gradient(left, #dcdcdc 30%, #ebebeb 30%);
  
    background-image: -o-linear-gradient(left, #dcdcdc 30%, #ebebeb 30%);
  
    background-image: linear-gradient(to right, #dcdcdc 30%, #ebebeb 30%);
}

.filter-name {
    display: block;
    width: 328px;
    min-height: 70px;

    background-color: #dcdcdc;
}
  
.filter-headline {
    margin: 0;
    margin-top: 23px;
    margin-left: 62px;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #000000;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 800px;
}
  
.sorting-headline {
    margin: 0;
    margin-left: 42px;
    padding-top: 21px;

    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.52px;
    text-transform: uppercase;
    color: #000000;
}
  
.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    padding-top: 19px;
    width: 300px;  

    list-style: none;
}

.sorting-list > li:not(:last-of-type) {
    margin-right: 30px;
}
  
.sorting-type {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
  
    opacity: 0.3;

    cursor: pointer;
}
  
.sorting-type:hover,
.sorting-type:focus {
    opacity: 0.6;
}
  
.sorting-type:active {
    opacity: 1;
}
  
.sorting-graduation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 38px;
    min-height: 18px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 10px;

    list-style: none;
}
  
.sorting-button {
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 11px;
    margin-left: 1px;
  
    text-align: center;
  
    border: 0;
    background-color: transparent;
  
    cursor: pointer;
}

.sorting-button::before {
    position: absolute;
    top: 0;
    left: 0;
}
  
.sorting-button::before {
    content: url("../img/catalog/icon-up.svg");
    opacity: 0.2;

    top: -1px;
  
    margin-left: -1px;
}

.sorting-down::before {
    top: -1px;
  
    margin-left: 2px;

    -webkit-transform: rotate(180deg);
  
      -ms-transform: rotate(180deg);
  
          transform: rotate(180deg);
}
  
.sorting-button:hover::before {
    opacity: 0.4;
}

.sorting-button:focus::before {
    outline: 2px solid #95BAED;
    opacity: 0.4;
}
  
.sorting-button:active::before {
    opacity: 1;
}

.filter-sorting:checked + label {
    opacity: 1;
}

.filter-graduation:checked + label::before {
    opacity: 1;
}

.pagination {
    position: relative;
    top: -12px;  
  
    display: -webkit-box;  
  
    display: -ms-flexbox;  
  
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 760px;
    min-height: 70px;
    margin: 0;
    padding: 0;

    background-color: #ebebeb;
  
    list-style: none;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    padding-left: 15px;

    list-style: none;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.page a {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    display: block;

    padding: 14px;
    padding-top: 26px;

    letter-spacing: 3.2px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.3);
}

.page a:hover,
.page a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.page a:active {
    color: #000000;
}

.page-current a {
    color: #000000;
}

.pagination-button {
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-right: 26px;
    padding-left: 32px;

    letter-spacing: 3.2px;
    text-transform: uppercase;

    color: #000000;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: #d9d9d9;
}

.pagination-button:active {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
    background-color: #d9d9d9;
}

.back {
    width: 130px;
    margin-right: auto;
}
  
.pagination-back {
    width: 130px;
}
  
.next {
    width: 132px;
    margin-left: auto;
}
  
.pagination-next {
    width: 132px;
}

.bottom-align {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.filter .filter-price {
    margin-top: 81px;
    margin-bottom: 31px;
}
  
.scroll {
    width: 210px;
    min-height: 50px;
    margin-top: 7px;
}
  
.scroll-controls {
    position: relative;  
    
    min-height: 50px;
    padding-top: 10px;
}
  
.scroll-controls .scale {
    width: 200px;
    height: 2px;
  
    background-color: #dbdbdb;
}
  
.scroll-controls .bar {
    width: 125px;
    height: 2px;
  
    background-color: #91c92f;
}
  
.set-price {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
}
  
.max-price {
    left: 108px;
}
  
.toggle {
    width: 4px;
    height: 4px;
  
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 6px -3px #000000;
            box-shadow: 0 2px 6px -3px #000000;
  
    cursor: pointer;
}
  
.toggle:active { 
    transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1);
}

.set-price .price-view {  
    margin: 0;  
    padding: 0;
    padding-top: 1px;
  
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
  
    opacity: 0.2;
}
  
.min-price .price-view {
    padding-left: 5px;
}
  
.max-price .price-view {
    position: relative;
    left: -17px;
}

.price-input {
    border: 0;
    background-color: #ededed;
}

@keyframes shake {
    0%,
    100% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
}
  
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-50%, -51%);
        -webkit-transform: translate(-50%, -51%);
        -moz-transform: translate(-50%, -51%);
        -ms-transform: translate(-50%, -51%);
        -o-transform: translate(-50%, -51%);
}
  
    20%,
    40%,
    60%,
    80% {
        transform: translate(-50%, -49%);
        -webkit-transform: translate(-50%, -49%);
        -moz-transform: translate(-50%, -49%);
        -ms-transform: translate(-50%, -49%);
        -o-transform: translate(-50%, -49%);
}
    }

@keyframes bounce {
    0% {
        transform: translate(-50%, -400px);
        -webkit-transform: translate(-50%, -400px);
        -moz-transform: translate(-50%, -400px);
        -ms-transform: translate(-50%, -400px);
        -o-transform: translate(-50%, -400px);
}
    }

