html {
    padding: 0;
}

body {
    font-family: "Gilroy", "Open Sans", sans-serif;
    color: black;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

#enter::before {
    background-image: url("https://cdn.icon-icons.com/icons2/510/PNG/512/person_icon-icons.com_50075.png");
    background-repeat: no-repeat;
    background-size: 15px;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
}

#enter {
    position: relative;

    padding-left: 15px;
}

.features {
    height: 350px;
    margin: 50px auto 0;
    position: relative;
    width: 500px;
}
  
.slider {
    position: relative;
}
  
.slider input[type="radio"] {
    display: none;
}
  
.slider-inner {
    overflow: hidden;
}
  
.slider-slides {
    width: 300%;
}
  
.slider-slides img {
    float: left;
    width: 450px;
    height: 320px;
}
  
.slider-controls {
    margin-bottom: 10px;
    text-align: center;
}
  
.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.2s;
}
  
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
}
  
  
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}
  
#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-400px);
    -webkit-transform: translate(-400px);
    -moz-transform: translate(-400px);
    -ms-transform: translate(-400px);
    -o-transform: translate(-400px);
}
  
#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-800px);
    -webkit-transform: translate(-800px);
    -moz-transform: translate(-800px);
    -ms-transform: translate(-800px);
    -o-transform: translate(-800px);
}

.share {
    width: 270px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    padding-left: 20px;
  
    background-color: transparent;
}

.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #C0C0C0;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

.social-fb {
    background-position: 0 0;
}

.social-in {
    background-position: -40px 0;
}
  
.social-tw {
    background-position: -80px 0;
}
  

.breadcrumbs {
    display: inline-block;
    color: #DCDCDC;
}

.breadcrumbs a {
    position: relative;
    float: left;
    padding-right: 10px;
    padding-left: 60px;
    background-color: transparent;
    color: #DCDCDC;
    text-decoration: none;
    line-height: 36px;
}

.breadcrumbs a::after {
    position: absolute;
    top: 13px;
    right: -32px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50px 0 0 0;
    background-color: transparent;
    box-shadow: 1px 1px 0 1px black;
    content: "";
    transform: rotate(-45deg) scale(0.73);
}

.breadcrumbs a:last-of-type:after {
    visibility: hidden;
    content: "";
}

.counter input {
    width: 10%;
}
  
.counter input[type="range"] {
    width: 8%;
}

section {
    display: inline-block;
    margin-top: 20px;
}
  
.shape {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
}

.shape .details {
    display: none;
    padding-top: 5px;
    width: 100px;
    height: 100px;
    background-color: rgba(75, 90, 120, 0.9);
    color: #ffffff;
}

.click {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #2f3644;
    color: #ffffff;
    text-decoration: none;
}

.click:hover {
    background-color: #ffffff;
    color: #2f3644;
}
  
.shape:hover .details {
    display: block;
}

.paginator {
    width: 280px;
    margin: 30px auto;
    padding: 10px;
  
    white-space: nowrap;
  
    background-color: transparent;
}
  
.paginator a,
.paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;

    text-align: center;
    line-height: 40px;
    background-color: transparent;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
.paginator .prev {
    margin-right: 100px;
}

.paginator .next {
    margin-left: 100px;
}

.paginator .disabled {
    opacity: 0.3;
}

.paginator a:hover {
    opacity: 1;
}
 
